body {
  margin: auto;
  font-size: 1.2rem;
  font-family: $font_paragraphe;
  background: linear-gradient(to top left, rgb(37, 35, 35), 80%, rgb(190, 190, 190)) no-repeat;
  width: 95%;
  text-align: center;
}

a.nuxt-link-exact-active {
  color: #f78228;
}



h1{
  color:$color-primary;
}
