body {
  font-size: 1.2rem;
  font-family: $font_paragraphe;
}

a {
  color: #00c58e;
}

a.nuxt-link-exact-active {
  color: #f78228;
}

.head__page {
  text-align: center;
  padding: 0px 200px 0px 200px;
}