/* Animations accueil */

@keyframes loadingMoi {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loadingMoiShadow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(15px) translateX(5px);
  }
}

@keyframes lightBorderPresentation {
  0% {
    opacity: 0;
    right: 700px;
    bottom: -6px;
  }
  50% {
    opacity: 1;
    right: -6px;
    width: 5px;
    bottom: -6px;
  }
  100% {
    opacity: 1;
    right: -6px;
    bottom: 100%;
    width: 5px;
  }
}

@keyframes loadBorderBlockMoi {
  0% {
    opacity: 1;
    width: 85px;
    right: 15%;
  }

  33% {
    width: 5px;
    height: 5px;
    opacity: 1;
    right: 90%;
    top: 0px;
  }
  48% {
    height: 55px;
  }
  66% {
    width: 5px;
    height: 5px;
    opacity: 1;
    right: 90%;
    top: 100%;
  }
  90% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 0;
    right: 15%;
    top: 100%;
  }
}

@keyframes slidePresentation {
  0% {
    color: transparent;
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    color: transparent;
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    color: white;
    opacity: 1;
    box-shadow: 5px 5px 5px $color-blue-mid;
  }
}
