$color-primary: #55f2a6;
$color-secondary: #f4f72d;
$color-third: #f78228;
$color-dark: #16261c;
$color-blue-mid: #517c77;

$linksize: 1.6rem;

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

$font_paragraphe: 'Kalam', cursive;