$color-primary: #55f2a6;
$color-secondary: #f4f72d;
$color-third: #f78228;
$color-dark: #16261c;
$color-blue-mid: #517c77;
$color-bright:white;
$color-lien: white;
$color-btn: white;


$linksize: 1.6rem;
$paragraphesize: 1.4rem;

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


$font_paragraphe: 'Kalam', cursive;
$font_logo: 'Kaushan Script', cursive;

@mixin anim-btn ($color) {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 3px 3px 5px $color-primary, -3px -3px 5px $color-blue-mid;
    border: 3px solid $color-blue-mid;    
    color: $color;
    transform: scale(1);
    transition: all ease 300ms;
    &:hover{
        color: $color-primary;
        box-shadow: none;
        transform: scale(1.08);
    }
}