.block__presentation{
	display: flex;
	flex-wrap: nowrap;
	perspective: 400px;
	perspective-origin: 50% 50px;
}
.block__moi{
    font-size: 2.5vw;
	width: 50%;
    text-align: left;
    padding-top: 5%;
	position: relative;
	& > h1 {
		transform: rotateZ(47deg);
		padding: 10px 0px 10px 20%;
		
		&:after{
			position: absolute;
			content: '';
			top: 0px;
			width: 85px;
			height: 5px;
			border: 2px solid white;
			border-radius: 15px;
			background: white;
			filter: blur(2px);
			opacity: 0;
			animation: loadBorderBlockMoi .6s ease forwards;
			animation-iteration-count: 3;
		}
	}
	&--animation1{
		opacity: 0;
		animation: loadingMoi 0.5s .1s ease-out forwards;
	}
	&--animation2{
		opacity: 0;
		animation: loadingMoi 0.5s 0.6s ease-out forwards;
	}
	&--animation3{
		opacity: 0;
		animation: loadingMoi 0.5s 1.2s ease-out forwards;
	}
}

.block__cible{
    text-align: left;
	width: 50%;
    font-size: $accueil;
	padding-left: 10%;
	
	&__service {
		position: relative;
		animation: animBorder 1s 2.1s ease both;
		padding: 5px;
		margin: 20px 0 20px 0;
		&:before{
			position: absolute;
			content: '';
			width: 155px;
			height: 5px;
			border: 2px solid white;
			border-radius: 15px;
			background: white;
			filter: blur(2px);
			opacity: 0;
			animation: loadBorderBottom 1s 2.1s cubic-bezier(.56,.12,.04,1);
		}
	}
	&__projet {
		position: relative;
		animation: animBorder 1s 3.2s ease both;
		padding: 5px;
		margin: 40px 0 20px 0;
		&:before{
			position: absolute;
			content: '';
			width: 155px;
			height: 5px;
			border: 2px solid white;
			border-radius: 15px;
			background: white;
			filter: blur(2px);
			opacity: 0;
			animation: loadBorderBottom 1s 3.2s cubic-bezier(.56,.12,.04,1);
		}

	}
}

@media screen and (max-width: 1080px) {
	.block__presentation{
		flex-wrap: wrap-reverse;
	}
	.block__moi{
		margin: auto;
		font-size: 3.5vw;
		padding-bottom: 10%;
	}
	.block__cible{
		width: 95%;
		padding-left: 0%;
		text-align: center;

	}
}

@media screen and (max-width: 500px) {
	.block__moi{
		font-size: 5.5vw;
		padding: unset;
	}
	.block__cible{
		margin-top: -30px;
		&__service {
			&:before{
				animation: none;
			}
		}
		&__projet {
			&:before{
				animation: none;
			}
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.block__moi{
		& > h1 {
			&:after{
				animation: none;
			}
		}
		&--animation1{
			opacity: 1;
			animation: none;
		}
		&--animation2{
			opacity: 1;
			animation: none;
		}
		&--animation3{
			opacity: 1;
			animation: none;
		}
	}
	
	.block__cible{
		& > h1 {
			&:after{
				animation: none;
			}
			&:before{
				animation: none;
			}
		}
		&--animation1{
			opacity: 1;
			animation: none;
		}
		&--animation2{
			opacity: 1;
			animation: none;
		}
		&--animation3{
			opacity: 1;
			animation: none;
		}
	}
}
