.page__cv {
    &--btndownload{
        margin-bottom: 30px;
        
        background-color: transparent;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px;
        
        border-radius: 5px 5px;
        transition: all ease 400ms;
        cursor: pointer;
        box-shadow: 3px 3px 5px $color-primary, -3px -3px 5px $color-blue-mid;
            border: 3px solid $color-blue-mid;    
            color: white;
        &:hover{
            border: 3px solid $color-blue-mid;
            color: $color-primary;
            box-shadow: none;
        }
    }

}