.page__projet{
    & > p{
        color: $color-primary;
    }
    &--layout{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.page__projet--link {
    border-radius: 5px 5px;
    width: 40%;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    @include anim-btn($color-lien);
    
}