.page__projet {
  & > h1 {
    text-shadow: 2px 2px black;
  }
  & > p {
    color: $color-bright;
  }
  & .date--text {
    text-decoration: underline;
  }
}

.page__projet--link {
  border-radius: 5px 5px;
  width: 35%;
  margin: 30px;
  text-decoration: none;
  opacity: 0;
  @include anim-btn($color-lien);
}

.slide-fade-enter-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: var(--i);
}
.slide-fade-enter {
  opacity: 0;
  transform: translateY(60px);
}

.carroussel_block {
  position: relative;
  z-index: 0;
}

@mixin carrouselControl() {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px 5px;
  @include anim-btn($color-btn, $color-secondary);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  z-index: 1;
}

.carrousel-ctrl-right {
  @include carrouselControl();
  right: 20px;
  top: 50%;
}
.carrousel-ctrl-left {
  @include carrouselControl();
  left: 20px;
  top: 50%;
}
.text_clickOn {
  color: white;
  padding-inline: 10%;
}
.swipe_fixed {
  width: 10px;
  height: 10px;
  background-color: red;
}
.swipe--text {
  color: $color-secondary;
  display: none;
}

.projet_carrousel {
  width: 100%;
  min-height: 560px;
  &_slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .swipe--text {
    display: inherit;
  }
  .carrousel-ctrl-right {
    right: 0px;
    display: none;
  }
  .carrousel-ctrl-left {
    left: 0px;
    display: none;
  }
  .element_fixed {
    display: none;
  }
  .element_fixed2 {
    display: none;
  }
  .swipe_element {
    display: inherit;
  }
}

@media screen and (max-width: 768px) {
  .page__projet--link {
    width: 90%;
    margin: 30px;
  }
}
