.carroussel_block {
  position: relative;
  z-index: 0;
}
.carrousel-ctrl-right {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  right: 20px;
  top: 40%;
  z-index: 1;
}
.carrousel-ctrl-left {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  left: 20px;
  top: 40%;
  z-index: 1;
}
.text_clickOn {
  color: white;
  padding-inline: 10%;
}
.swipe_fixed {
  width: 10px;
  height: 10px;
  background-color: red;
}
.swipe--text {
  color: $color-secondary;
  display: none;
}
.swipe_element {
  display: none;
  margin-top: 15px;
  &::before {
    position: absolute;
    content: "";
    opacity: 0;
    width: 5px;
    height: 5px;
    border: 2px solid white;
    border-radius: 15px;
    background: white;
    filter: blur(2px);
    animation: swipeMobile 1.5s 0.5s linear 1 forwards;
  }
}
.element_fixed {
  position: absolute;
  right: 7%;
  top: 10%;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Material Icons";
    content: "settings";
    --color: #f78228;
    font-size: 35px;
    color: white;
    padding: 3px;
    animation: logoSettings 1s 0.3s linear 1;
  }
  &::before {
    position: absolute;
    top: 14px;
    left: 25px;
    font-family: "Material Icons";
    rotate: 25deg;
    content: "settings";
    --color: #55f2a6;
    font-size: 35px;
    color: white;
    padding: 3px;
    animation: logoSettings 1s 0.3s linear 1 reverse;
  }
}
.element_fixed2 {
  position: absolute;
  right: 7%;
  top: 10%;
  z-index: 1;
  &::after {
    position: absolute;
    top: 40px;
    left: 12px;
    font-family: "Material Icons";
    content: "settings";
    --color: #f4f72d;
    font-size: 35px;
    color: white;
    padding: 3px;
    animation: logoSettings 1s 0.3s linear 1;
  }
  &::before {
    position: absolute;
    content: "";
    opacity: 0;
    width: 5px;
    height: 5px;
    border: 2px solid white;
    border-radius: 15px;
    background: white;
    filter: blur(2px);
    animation: var(--launcherStart) 1s linear 1 both;
  }
}
.projet_carrousel_block {
  position: absolute;
  width: 100%;
}
.slide-rotate-left-leave-active {
  transition: all 0.7s 0.25s ease-out;
}

.slide-rotate-left-enter-active {
  transition: all 0.7s 0.75s ease-out;
}

.slide-rotate-left-enter {
  transform-origin: center center 150px;
  opacity: 0;
  transform: rotateY(45deg) translate3d(150px, 0, 30px);
}

.slide-rotate-left-leave-to {
  transform-origin: center center 150px;
  opacity: 0;
  transform: rotateY(45deg) translate3d(-150px, 0, -30px);
}
.slide-rotate-right-leave-active {
  transition: all 0.7s 0.25s ease-out;
}

.slide-rotate-right-enter-active {
  transition: all 0.7s 0.75s ease-out;
}

.slide-rotate-right-enter {
  transform-origin: center center 150px;
  opacity: 0;
  transform: rotateY(-45deg) translate3d(-150px, 0, -30px);
}

.slide-rotate-right-leave-to {
  transform-origin: center center 150px;
  opacity: 0;
  transform: rotateY(-45deg) translate3d(150px, 0, 30px);
}

@keyframes logoSettings {
  0% {
    transform: rotateZ(0deg);
    filter: drop-shadow(0 0 2px var(--color));
  }
  100% {
    transform: rotateZ(var(--direction));
    filter: drop-shadow(0 0 2px var(--color));
  }
}

@keyframes launchLogoLeft {
  0% {
    opacity: 0;
    top: -20px;
    right: -14px;
  }
  30% {
    opacity: 1;
    top: 0px;
    right: -14px;
  }
  60% {
    top: 15px;
    right: -7px;
  }
  80% {
    top: 30px;
    right: -14px;
  }
  100% {
    opacity: 0;
    top: 50px;
    right: -14px;
  }
}
@keyframes launchLogoRight {
  0% {
    opacity: 0;
    top: 0px;
    right: 6px;
  }
  30% {
    opacity: 1;
    top: 0px;
    right: -14px;
  }
  100% {
    opacity: 0;
    right: -70px;
    top: 0px;
  }
}
@keyframes swipeMobile {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(70px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50px);
  }
  60% {
    opacity: 1;
    transform: translateX(40px);
  }
  80% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1024px) {
  .swipe--text {
    display: inherit;
  }
  .carrousel-ctrl-right {
    right: 0px;
    display: none;
  }
  .carrousel-ctrl-left {
    left: 0px;
    display: none;
  }
  .element_fixed {
    display: none;
  }
  .element_fixed2 {
    display: none;
  }
  .swipe_element {
    display: inherit;
  }
}
