.projects_page {
  position: relative;
  z-index: 0;
  & > h1 {
    text-shadow: 2px 2px black;
  }
  & > p {
    color: $color-bright;
  }
}
.projects_text-underline {
  text-decoration: underline;
}
.projects_carousel_slide--link {
  border-radius: 5px 5px;
  width: 35%;
  margin: 30px;
  text-decoration: none;
  opacity: 0;
  @include anim-btn($color-lien);
}

.projects_carousel {
  width: 100%;
  min-height: 560px;
  &_slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.slide-fade-enter-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: var(--i);
}
.slide-fade-enter {
  opacity: 0;
  transform: translateY(60px);
}

@mixin carrouselControl() {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px 5px;
  @include anim-btn($color-btn, $color-secondary);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  z-index: 1;
}

.projects_carousel_ctrl-right {
  @include carrouselControl();
  right: 20px;
  top: 50%;
}
.projects_carousel_ctrl-left {
  @include carrouselControl();
  left: 20px;
  top: 50%;
}
.projects_description {
  color: white;
  padding-inline: 10%;
}
.projects_swipe {
  color: $color-secondary;
  display: none;
}

@media screen and (max-width: 1024px) {
  .projects_swipe {
    display: inherit;
  }
  .projects_carousel_ctrl-right {
    right: 0px;
    display: none;
  }
  .projects_carousel_ctrl-left {
    left: 0px;
    display: none;
  }
  // .element_fixed {
  //   display: none;
  // }
  // .element_fixed2 {
  //   display: none;
  // }
  // .swipe_element {
  //   display: inherit;
  // }
  .projects_carousel {
    min-height: 632px;
  }
}

@media screen and (max-width: 768px) {
  .projects_carousel_slide--link {
    width: 90%;
    margin: 30px;
  }
  .projects_carousel {
    min-height: 990px;
  }
}

@media screen and (max-width: 600px) {
  .projects_carousel {
    min-height: 920px;
  }
}
