// Animation carrousel groupe
.slide-translate-right-leave-active,
.slide-translate-left-leave-active {
  transition: all 0.5s ease-out;
}

.slide-translate-right-enter-active,
.slide-translate-left-enter-active {
  transition: all 0.5s 0.5s ease-out;
}

.slide-translate-right-enter,
.slide-translate-left-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

.slide-translate-right-leave-to,
.slide-translate-left-enter {
  opacity: 0;
  transform: translateX(10px);
}
//-----------------------------------

// Animation de chaque projet
@for $i from 0 through 3 {
  .slide-translate-right-#{$i} {
    animation: fadeProjectRight 1s $i * 0.2s ease forwards;
  }
}
@for $i from 0 through 3 {
  .slide-translate-left-#{$i} {
    animation: fadeProjectLeft 1s $i * 0.2s ease forwards;
  }
}

@mixin keyframeFadeProject($direction, $value) {
  @keyframes fadeProject#{$direction} {
    from {
      opacity: 0;
      transform: translateX($value);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@include keyframeFadeProject("Left", 30px);
@include keyframeFadeProject("Right", -30px);

//--------------------------------
// Les boutons du slide des projets
.fade-button-slide-enter-active,
.fade-button-slide-leave-active {
  transition: all 0.3s ease-out;
}

.fade-button-slide-enter,
.fade-button-slide-leave-to {
  opacity: 0;
}

//----------------------------------

@keyframes launchLogoLeft {
  0% {
    opacity: 0;
    top: -20px;
    right: -14px;
  }
  30% {
    opacity: 1;
    top: 0px;
    right: -14px;
  }
  60% {
    top: 15px;
    right: -7px;
  }
  80% {
    top: 30px;
    right: -14px;
  }
  100% {
    opacity: 0;
    top: 50px;
    right: -14px;
  }
}
@keyframes launchLogoRight {
  0% {
    opacity: 0;
    top: 0px;
    right: 6px;
  }
  30% {
    opacity: 1;
    top: 0px;
    right: -14px;
  }
  100% {
    opacity: 0;
    right: -70px;
    top: 0px;
  }
}
/* @keyframes swipeMobile {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
    transform: translateX(70px);
  }
  40% {
    opacity: 1;
    transform: translateX(-50px);
  }
  60% {
    opacity: 1;
    transform: translateX(40px);
  }
  80% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
} */
