.btn--download {
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-family: $font_logo;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px 5px;
  @include anim-btn($color-btn);
}

.btn__goback {
  margin: 30px 0px 30px;
  font-size: 1rem;
  font-family: $font_logo;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px 5px;
  @include anim-btn($color-btn, $color-secondary);
}

.btn__link {
  margin: 30px 0px 30px;
  font-size: 1.2rem;
  font-family: $font_logo;
  font-weight: bold;
  padding: 14px;
  border-radius: 5px 5px;
  cursor: pointer;
  background-color: transparent;
  @include anim-btn($color-btn);

  & > a {
    color: white;
    text-decoration: none;
  }
}

.btn__index {
  margin-top: 0px;

  & button {
    width: 20px;
    height: 20px;
    border: 2px solid $color-dark;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    background-color: $color-blue-mid;
    opacity: 0.8;
    cursor: pointer;
  }
}
.btn__index button.active {
  background: $color-secondary;
}

@media screen and (min-width: 1024px) {
  .btn__index--media {
    visibility: hidden;
  }
}

@media screen and (max-width: 576px) {
  .btn__index {
    & button {
      width: 15px;
      height: 15px;
      border-radius: 10px;
    }
  }
  .btn__goback {
    font-size: 0.8rem;
  }
}
