.btn--download{
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-family: $font_logo;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px;
    @include anim-btn($color-btn);
}

.btn__goback {
    margin: 30px 0px 30px;
    font-size: 1.2rem;
    font-family: $font_logo;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px;
    @include anim-btn($color-btn);
}

.btn__slide {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 5px;
    @include anim-btn($color-btn);
    position: absolute;
    top: 45%;
    background-color: $color-blue-mid;
    opacity: .8;
    &--next{
        right: 20px;
    }
    &--prev{
        left: 20px;
    }
}

.btn__index {
    margin-top: -50px;

    & button{
    width: 20px;
    height: 20px;
    border: 2px solid $color-dark;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    background-color: $color-blue-mid;
    opacity: .8;
    cursor: pointer;
    }
}
.btn__index button.active{
    background: $color-primary;
}

@media screen and (max-width: 600px) {
    .btn__index {
        & button{
        width: 15px;
        height: 15px;
        border-radius: 10px;
        }
    }
    .btn__slide {
        padding: 3px;
 
        &--next{
            right: 0px;
        }
        &--prev{
            left: 0px;
        }
    }
    .btn__goback {
        font-size: 0.8rem;
    }
}