.footer__layout {
  border-top: 3px solid $color-third;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  & > ul{
    font-size: 1.6rem;
    padding-left: 0px;
    & > li{
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 25px;
      & > a{
        color: $color-primary;
        transition: all 0.3s ease;
        text-decoration: none;
        &:hover {
          text-shadow: 7px 30px black;
          text-decoration: underline;
        }
      }
    }
  }
}

.date{
  text-align: right;
  text-shadow: 2px 1px black;
}

@media screen and (max-width: 700px) {
  .footer__layout {
    margin-top: 20px;
    & > ul{
      font-size: 1.3rem;
      & > li{
        margin-left: 0px;
        display: block;
      }
    }
  
  }
  .date{
    text-align:  center;
    text-shadow: 2px 1px black;
    margin-top: 40px;
  }
  
}