.footer__layout {
  border-top: 3px solid $color-third;
  margin: 40px 200px 0px 200px;
  padding-left: 60px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > ul{
    font-size: 1.6rem;
    & > li{
      display: inline-block;
      margin-left: 30px;
      & > a{
        color: $color-primary;
        transition: all 0.3s ease;
        &:hover {
          text-shadow: 7px 30px black;
        }
      }
      
    }
  }
}

.date{
  text-align: right;
  text-shadow: 2px 1px black;
}