.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $color-third;
    margin: 0px 200px 0px 200px;

    &__navBar {
        padding: 65px 50px 0px 0px;

        &--font {
            margin-left: 100px;
            font-size: $linksize;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 1px 1px black;
            padding: 5px;
            transition: all 0.3s ease;
            &:hover {
                text-shadow: 27px 30px black;
            }
        }
    }

    &__logo {
        width: 300px;
        height: 150px;
    }
}

